
/*start student*/
.pdfButton{
	background-color: #34495E !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px red !important;
	left: 10px;
}

.pdfButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.excelButton{
	background-color: #35790B !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px green !important;
	left: 10px;
}

.excelButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.colButton{
	background-color: #34495E !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px orange !important;
	left: 10px;
}

.colButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/*end student*/

/*start course*/
.pdf{
	background-color: #34495E !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px red !important;
	left: 10px;
}

.pdf:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.excel{
	background-color: #35790B !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px green !important;
	left: 10px;
}

.excel:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.colvis{
	background-color: #34495E !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px orange !important;
	left: 10px;
}

.colvis:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
/*end course*/

.page{
	background-color: #34495E !important;
	border-radius: 9px !important;
	font-size: 12px !important;
	color: white !important;
	display: inline-block !important;
	text-shadow: 2px 3px 4px #ec9736  !important;
	left: 10px;
}

.page:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
